@if (character) {

    <h2>Character Details</h2>

            <p><strong>Name: {{character.name}}</strong></p>

            <p><strong>Player: {{character.player}}</strong></p>
            <p><strong>Level: {{getLevel()}}</strong></p>

    <h2>Attributes & Skills</h2>
        <table>
            @for (attr of character?.attribute; track attr.name) {
                <tr class="section-title">
                    <td colspan="2">{{ attr.name | titlecase  }}: {{attr.level}}</td>
                </tr>
                @for (skill of getSkills(attr.skills); track skill.name) {
                    <tr>
                        <td>{{ skill.name | titlecase}}</td>
                        <td>{{ skill.value }}</td>
                    </tr>
                }
            }
        </table>

    <h2>Feats</h2>
    <table>
        <tr>
            <td>Red:</td> <td class="center">/{{character.feats.red}}</td>
            <td>Green:</td> <td class="center">/{{character.feats.green}}</td>
            <td>Blue:</td> <td class="center">/{{character.feats.blue}}</td>
            <td>Gold:</td> <td class="center">/{{character.feats.gold}}</td>
        </tr>
    </table>

    <h2>Equipment & Inventory</h2>
    <table>
        <tr>
            <td><strong>Equipment:</strong></td>
            @for (equip of character.equipment; track character.equipment) {
                <td colspan="3">{{equip.name}}</td>
            }
        </tr>
        <tr>
            <td><strong>Inventory:</strong></td>
            @for (equip of character.inventory; track character.inventory) {
                <td colspan="3">{{equip}}</td>
            }        </tr>
    </table>

    <h2>Magical Properties</h2>
    <table>
        <tr>
            <td>Focus:</td>
            <td></td>
        </tr>
        <tr>
            <td>Attunement:</td>
            <td></td>
        </tr>
        <tr>
            <td>Tome:</td>
            <td></td>
        </tr>
        <tr>
            <td>Twists:</td>
            <td></td>
        </tr>
    </table>

    <h2>Special Feats</h2>
    <table>
        <tr>
            <td><strong>Heavy Strikes</strong></td>
        </tr>
        <tr>
            <td><strong>Passive:</strong></td>
        </tr>
        <tr>
            <td>Red</td>
        </tr>
    </table>

} @else {
    <p>Character not found</p>
}
