@if (feat) {
    <div class="app-container">
        <h2 class="title center">{{ feat.name }}</h2>
        <div class="feat-header">
            <img [src]="feat.images[0]" [alt]="feat.name" class="feat-image">
            <p class="description">{{ feat.fullDescription }}</p>
        </div>
    </div>
    <div class="app-container">
        @for (feature of feat.featList; track feature) {
            <div class="feat-item" [ngClass]="{
        'border-left-red': feat.name === 'Red Feats',
        'border-left-blue': feat.name === 'Blue Feats',
        'border-left-green': feat.name === 'Green Feats',
        'border-left-gold': feat.name === 'Gold Feats'
         }">

                <h3>{{ feature.name }}</h3>
                <p>{{ feature.level }}<span class="badge-span">{{ feature.type }}</span></p>
                <p>{{ feature.description }}</p>
            </div>
        }
    </div>
} @else {
    <app-not-found message="Feat Not Found"></app-not-found>
}