<div class="app-container">
    <h1 class="title center">{{ title }}</h1>
    @if (viewModel$ | async; as vm) {
        <section>
            <h2>Combat Actions</h2>
            <div class="grid-layout">
                @for (action of vm.combatActions; track action.name) {
                    <app-card [name]="action.name" [badge]="action.type" [description]="action.description" [type]="'red'"></app-card>
                }
            </div>
        </section>

        <section class="mb-1">
            <h2>Basic Feats</h2>
            <div class="grid-layout">
                @for (feat of vm.basicFeats; track feat.name) {
                    <app-card [name]="feat.name" [badge]="feat.type" [description]="feat.effect" [type]="'blue'"></app-card>
                }
            </div>
        </section>

        <section>
            <h2>Rank System</h2>
            <p>{{vm.rankSystem.calculation}}</p>
            <div class="grid-layout">
                @for (rank of vm.rankSystem.thresholds; track rank.rank) {
                    <app-card [name]="rank.rank" [description]="rank.value.toString()" [type]="'green'"></app-card>

                }
            </div>
        </section>

        <section>
            <h2>Derived Stats</h2>
            <div class="grid-layout">
                @for (stat of getStatsEntries(vm.characteristics.derivedStats); track stat.name) {
                    <app-card [name]="stat.name | titlecase" [description]="stat.formula" [type]="'gold'"></app-card>
                }
            </div>
        </section>

        <section>
            <h2>Experience Costs</h2>
            <div class="grid-layout">
                @for (cost of getExperienceCostEntries(vm.experienceCosts); track cost.type) {
                        @if (cost.formula) {
                            <app-card [name]="cost.type | titlecase" [description]="cost.formula"></app-card>
                        }
                        @if (cost.cost !== undefined) {
                            <app-card [name]="cost.type | titlecase" [description]="'Fixed Cost: ' + cost.cost.toString()"></app-card>
                        }
                }
            </div>
        </section>
    }
</div>